<section class="MainPage">
	 <div id="newUserMain" >
      		<div style="width:100%;  padding-top:10%;" align="center">
	
				<div id="qrcodediv" style="padding-bottom:10px;"></div>
	
            	<div style="width:50%;">
            		<img src="img/add_user/addText.png" style="width:100%" />
                </div>
                
                <div id="addInputdiv" ng-click='navigatePage("#/EditProfile/",id)'>
					<div id="profilename">{{profilename}}</div>
                </div>
				
				
                <div id="addInputdiv" ng-click='navigatePage("#/NewUserPage/",id)'>
            		<div id="addInputText"  />הזן איש קשר</div>
                </div>
                
                
                <div style="margin-top:1%; margin-bottom:10%">
					<div  ng-repeat="row in contacts" >
						<div id="UserInfo">
							<div id="UserInfoBck">
								<img src="img/add_user/user.png" style="width:100%" />
							</div> 
							<a href="#/EditUser/{{id}}/{{row.id}}"><div id="UserInfoText">{{row.name}}</div></a>
						</div>
					</div>
                </div>
                
               
               
                
              <!--
                <div id="footerApp" style="position:fixed; bottom:-10px;">
                	<table  style="padding:0; margin:0; margin-left:-1%; width:100%;">
                    	<tr style="width:100%;">
                        	<td style="padding:0; margin:0" ng-click='navigatePage("#/Main/","")'>
                            	<img src="img/new_user/b1.png" style="width:102%" />
                            </td>
                            <td style="padding:0; padding-left:-4%">
                            	<img src="img/new_user/b2.png" style="width:102%" />
                            </td >
                            <td style="padding:0; margin:-1%" ng-click='navigatePage("#/Main/","")'>
                            	<img src="img/new_user/b3.png" style="width:102%" />
                            </td>
                            <td style="padding:0; padding-left:-4%">
                            	<img src="img/new_user/b2.png" style="width:102%" />
                            </td >
                        </tr>
                    </table>
                </div>
				!-->
            </div>
            
      </div>
</section>