<ion-view  title="{{navTitle}}" hide-nav-bar="false" cache-view="false">
  <ion-content class="content">
 
 <div class="AboutDv" ng-if="InfoHidden == '0'"  ng-click="ShowInfo()" style="top:45px; right:5px;">
			<div id="infoBtn" >
				<img src="img/main/infoicon.png" style="width:40px" />	
			</div>
  </div>

  
<section class="MainPage">
	 <div id="newUserMain" >

<!--	 
<div id="HeaderDv">
	<div id="backBtn" ng-click='backBtn()'>
    	<img src="img/new_user/bt1.png" style="width:100%" />
    </div>
    <div id="homeBtn" ng-click='HomeButton()'>
    	<img src="img/new_user/bt2.png" style="width:100%" />
    </div>
</div>
-->

 
  
  
      		<div style="width:100%;  padding-top:20%;" align="center">
			<p dir="rtl"><b>{{CurrentCredit}}: {{usercredits}}</b></p>
			<div style="margin-top:5px;"></div>
			
			<!--
				   <div id="addInputdiv" ng-click='newcodepage()' style="margin-bottom:2%;">
					<div id="newcodetext"></div>
                </div>
				
				 <div id="addInputLogout" ng-click='logoutBtn()' style="margin-bottom:10%;">
					<div id="logouttext"></div>
                </div>
			-->	
		            <div style="margin-top:1%; margin-bottom:10%">
					<div ng-click="choosePackage(1)">
						<div id="CodeSelectDv" style="padding-bottom:15px;">	
                            <div id="UserInfoQR" >
                            	<div id="UserInfoImg">
							<div style="width:100%; margin-top:20px;">
										<input type="radio" ng-model="fields.package" id="package" name="package" value="1" ng-checked="true">
									</div>
                                </div>
                           </div>
                          
              
						  <div id="UserInfoCode" style="width:70%;">
                                <div id="UserInfoCodeText" style="font-weight:bold; width:100%;  padding-bottom:7px">{{Package1Title}}</div>
                                <div id="UserInfoCodeText"  style="font-size:15px; margin-top:-4px; width:100%; padding-bottom:7px ">{{Package1Desc}}</div>
								<div id="UserInfoCodeText"  style="font-size:15px; margin-top:-4px;">{{Package1Price}}</div>
					
								</div>
							</div>
                             <div style="margin-top:-4%; margin-bottom:-2%">
                        <img src="img/line.jpg" style="width:100%" />
                    </div>
						</div>
						
						
						<div ng-click="choosePackage(2)">
							<div id="CodeSelectDv" style="padding-bottom:15px;">	
								<div id="UserInfoQR" >
									<div id="UserInfoImg">
								<div style="width:100%; margin-top:20px;">
										<input type="radio" ng-model="fields.package" id="package" name="package" value="2">
										</div>
									</div>
							   </div>
							   
				  
							  <div id="UserInfoCode" style="width:70%;">
                                <div id="UserInfoCodeText" style="font-weight:bold; width:100%;  padding-bottom:7px" >{{Package2Title}}</div>
                                <div id="UserInfoCodeText"  style="font-size:15px; margin-top:-4px;">{{Package2Desc}}</div>
								<div id="UserInfoCodeText"  style="font-size:15px; margin-top:-4px;">{{Package2Price}}</div>
						
									</div>
								</div>
                                
							</div>
						 <div style="margin-top:-4%; margin-bottom:-2%">
                        <img src="img/line.jpg" style="width:100%" />
                    </div>
						<div ng-click="choosePackage(3)">
							<div id="CodeSelectDv" style="padding-bottom:15px;">	
								<div id="UserInfoQR" >
									<div id="UserInfoImg">
								<div style="width:100%; margin-top:20px;">
										<input type="radio" ng-model="fields.package" id="package" name="package" value="3">
										</div>
									</div>
							   </div>
							  
				  
							  <div id="UserInfoCode" style="width:70%;">
                                <div id="UserInfoCodeText" style="font-weight:bold; width:100%;  padding-bottom:7px" >{{Package3Title}}</div>
                                <div id="UserInfoCodeText"  style="font-size:15px; margin-top:-4px;">{{Package3Desc}}</div>
								<div id="UserInfoCodeText"  style="font-size:15px; margin-top:-4px;">{{Package3Price}}</div>
						
									</div>
								</div>
						</div>
						
						
					</div>
        
		
				<div style="width:50%;" ng-click='selectPackage()'>
            		<img src="img/new_user/btns/ok.png" style="width:100%" />
                </div>
			<!--
		  	 <div id="addInputLogout" ng-click='selectPackage()' style="margin-bottom:10%;">
					<div id="logouttext"></div>
                </div>
			-->
        </div>
                
               
               
        
               
          
            </div>
            
      </div>
</section>


  </ion-content>
</ion-view>