<ion-view title="{{navTitle}}" hide-nav-bar="false">
  <ion-content class="content" >
  
  
<section class="MainPage">
	 <div id="newUserMain" >

<!--	 
<div id="HeaderDv">
	<div id="backBtn" ng-click='backBtn()'>
    	<img src="img/new_user/bt1.png" style="width:100%" />
    </div>
    <div id="homeBtn" ng-click='HomeButton()'>
    	<img src="img/new_user/bt2.png" style="width:100%" />
    </div>
</div>
-->



      		<div style="width:100%;  padding-top:20%;" align="center">
            
                <div style="margin-bottom:10%;">
				
				  <div class="Input" id="phoneText">
                        <input class="InputText" ng-model="fields.prdname" id="mailInput" style="border:none; text-align:center; outline:0; top:10px"   type="text" placeholder="{{ProuductPlaceHolder}}" />
                    </div>
				<!--
                    <div class="Input" id="phoneText">
                        <input class="InputText" ng-model="fields.code" id="mailInput" style="border:none; text-align:center; outline:0; top:10px"  type="tel" placeholder="{{CodePlaceHolder}}" />
                    </div>
				-->
       
			
	   
                </div>
                
                
                <div style="width:50%;" ng-click='saveCode()'>
            		<img src="{{OkButtonImage}}" style="width:100%" />
                </div>
           
                

            </div>
            
      </div>
</section>


  </ion-content>
</ion-view>