<ion-view view-title="{{navTitle}}" hide-nav-bar="false">
  <ion-content class="content">
  
<section class="MainPage">
	 <div id="newUserMain" >
<!-- 
<div id="HeaderDv">
	<div id="backBtn" ng-click='backBtn()'>
    	<img src="img/new_user/bt1.png" style="width:100%" />
    </div>
    <div id="homeBtn" ng-click='HomeButton()'>
    	<img src="img/new_user/bt2.png" style="width:100%" />
    </div>
</div>
-->
      		<div style="width:100%;  padding-top:20%;" align="center">
            	<div style="width:100%;">
				<div id="foundcodetext">
				<p id="whitetext">{{Text1}}{{productname}} {{Text2}} {{username}}</p>
				<p id="whitetext">{{Text3}}</p>
				<p id="whitetext">{{Text4}}</p>
				</div>
                </div>
                <div style="margin-bottom:10%;">
                    <div class="Input" id="phoneText">
                        <input class="InputText" ng-model="fields.phone" dir="{{textDir}}" style="border:none; text-align:center; outline:0;"  id="phoneInput" type="tel" placeholder="{{phoneplaceholder}} ({{requiredText}})" />
                    </div>
					
                     <div class="Input" id="phoneText">
                        <input class="InputText" ng-model="fields.mail" dir="{{textDir}}" style="border:none; text-align:center; outline:0;" id="mailInput" type="email" placeholder="{{mailplaceholder}} ({{requiredText}})" />
                    </div>
                   
				   <!--
				   <p>{{usefulText}}</p>
				   -->
				   
                </div>
				
				
                
                
                <div style="width:50%;" ng-click='alertcontacts()'>
            		<img src="{{okbuttonImage}}" style="width:100%" />
                </div>
				

            </div>
            
      </div>
</section>

  </ion-content>
</ion-view>