<ion-view title="{{navTitle}}" hide-nav-bar="false">
  <ion-content class="content" >
<div id="AboutDv" ng-if="InfoHidden == '0'" ng-click="ShowInfo()" style="top:45px; right:5px;">
			<div id="infoBtn" >
				<img src="img/main/infoicon.png" style="width:40px" />
			</div>
		</div> 
<section class="MainPage">  


        

<!--
  <div id="HeaderDv" style=" position:fixed; top:0px;">
		<div id="backBtn" ng-click='backBtn()'>
			<img src="img/new_user/bt1.png" style="width:100%" />
		</div>
		<div id="homeBtn" ng-click='HomeButton()'>
			<img src="img/new_user/bt2.png" style="width:100%" />
		</div>
  </div>  
-->
      <div id="newUserMain" >



             
      		<div style="width:100%;  margin-top:25%; " align="center">
			
			<!--
            	<div style="width:30%;">
            		<img src="{{ButtonImage}}" style="width:100%" />
                </div>
			-->
				
				<div id="foundcodetext">
				<p id="whitetext">{{Text1}}{{Text3}} {{Text2}} {{username}}</p>
				<p id="whitetext">{{Text4}}</p>
				<p id="whitetext">{{Text5}}</p>
				</div>

                <div style="margin-bottom:10%;">
                    <div class="Input" id="phoneText">
                        <input class="InputText"  ng-model="fields.phone" dir="{{textDir}}" style="border:none; text-align:center; outline:0;"  type="tel" id="mailInput" placeholder="{{phoneLabel}} ({{requireText}})" />
                    </div>
                    
                    <div class="Input" id="phoneText">
                        <input class="InputText"  ng-model="fields.mail" dir="{{textDir}}" style="border:none; text-align:center; outline:0;"  type="email" id="mailInput" placeholder="{{mailLabel}} ({{requireText}})" />
                    </div>
					
					<!--
					<p>{{usefulText}}</p>
					-->
					
                </div>
				
				
				
                <div style="width:50%;" ng-click='alertcontacts()'>
            		<img src="{{okButtonImage}}" style="width:100%" />
                </div>


               

            </div>
            
      </div>
</section>


  </ion-content>
</ion-view>