
<ion-modal-view >
  <ion-header-bar style="background:#D4AB44; ">
 
    <h1 class="title" style="color:#fff; font-weight:bold;">{{ExplainModal}}</h1>

    <div class="buttons" >
      <button class="button button-clear" style="color:#fff; font-weight:bold;" ng-click="closeInfoModal()">{{closeModal}}</button>
    </div>
  </ion-header-bar>
  <ion-content style="margin-top:2px;" class="content">
  
	<div align="center" >
	<p>{{InfoText}}
	</p>
	</div>
   
   
   
  </ion-content>
  
</ion-modal-view>
