
<ion-modal-view >
  <ion-header-bar style="background:#D4AB44; ">
 
    <h1 class="title" style="color:#fff; font-weight:bold;"><img class="title-image" src="img/main/header_logo.png" style="width:160px; margin-top:12px;"></h1>

    <div class="buttons" >
      <button class="button button-clear" style="color:#fff; font-weight:bold;" ng-click="closeMailModal()">{{closeModal}}</button>
    </div>
  </ion-header-bar>
  <ion-content style="margin-top:2px;" class="content">
  
      <div class="list">
        

        
        <div class="item item-divider" style="text-align:center; direction:{{TextDirection}};">
          {{ChooseSize}}:
        </div>
        
		<ion-radio ng-model="radioselect.size" ng-value="'70'">70x70 SMALL</ion-radio>
		<ion-radio ng-model="radioselect.size" ng-value="'100'">100x100 MEDIUM</ion-radio>
		<ion-radio ng-model="radioselect.size" ng-value="'200'">200x200 LARGE</ion-radio>
		<ion-radio ng-model="radioselect.size" ng-value="'300'">300x300 X-LARGE</ion-radio> 
		<ion-radio ng-model="radioselect.size" ng-value="'400'">400x400 XX-LARGE</ion-radio>   		
  		
      </div>
      
   
 

	<div class="bar bar-footer" style="width:100%; height:11%; overflow:hidden; padding:0; ">
		<img src="{{AddQRImage}}" ng-click="sendQr()"  style="width:100%;"/>
	</div>

	
  </ion-content>
  
</ion-modal-view>
