<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar  align-title="center" class="bar-stable" style="background-color:#e3e0d8 !important;">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">תפריט</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list ng-if="defLang == 'HEB'">
        <ion-item menu-close href="#/app/Main" style="border-top:none !important;">
        	<div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">ראשי</span> <img src="img/menu_icons/home.png" style="width:15%; left:10px;  " />
            </div>
        </ion-item>
        <ion-item menu-close href="#/app/About">
          <div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">עלינו</span> <img src="img/menu_icons/i2.png" style="width:15%; left:10px;  " />
            </div>
        </ion-item>
        <ion-item menu-close href="#" ng-click="myProducts()">
        	<div style="left:30px; position:relative">
         		 <span style="top:-5px; margin-right:7px; position:relative">המוצרים שלי</span> <img src="img/menu_icons/i3.png" style="width:15%; left:10px;  " />
                 </div>
        </ion-item>		
        <ion-item menu-close href="#" ng-click="Foundphone()">
        	<div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">מצאת טלפון</span> <img src="img/menu_icons/i4.png" style="width:15%; left:10px;  " />
                </div>
        </ion-item>			
        <ion-item menu-close href="#/app/Contact">
        	<div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">צור קשר</span> <img src="img/menu_icons/i5.png" style="width:15%; left:10px;  " />
                </div>
        </ion-item>
        <ion-item menu-close href="#" ng-click="logout()">
        	<div style="left:30px; position:relative">
         	 <span style="top:-5px; margin-right:7px; position:relative">התנתקות</span> <img src="img/menu_icons/i6.png" style="width:15%; left:10px;  " />
             </div>
        </ion-item>
      </ion-list>
	  
      <ion-list ng-if="defLang == 'ENG'">
        <ion-item menu-close href="#/app/Main" style="border-top:none !important;">
        	<div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">Main</span> <img src="img/menu_icons/home.png" style="width:15%; left:10px;  " />
            </div>
        </ion-item>
        <ion-item menu-close href="#/app/About">
          <div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">About Us</span> <img src="img/menu_icons/i2.png" style="width:15%; left:10px;  " />
            </div>
        </ion-item>
        <ion-item menu-close href="#" ng-click="myProducts()">
        	<div style="left:30px; position:relative">
         		 <span style="top:-5px; margin-right:7px; position:relative">My Products</span> <img src="img/menu_icons/i3.png" style="width:15%; left:10px;  " />
                 </div>
        </ion-item>		
        <ion-item menu-close href="#" ng-click="Foundphone()">
        	<div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">Found Phone</span> <img src="img/menu_icons/i4.png" style="width:15%; left:10px;  " />
                </div>
        </ion-item>			
        <ion-item menu-close href="#/app/Contact">
        	<div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">Contact</span> <img src="img/menu_icons/i5.png" style="width:15%; left:10px;  " />
                </div>
        </ion-item>
        <ion-item menu-close href="#" ng-click="logout()">
        	<div style="left:30px; position:relative">
         	 <span style="top:-5px; margin-right:7px; position:relative">Logout</span> <img src="img/menu_icons/i6.png" style="width:15%; left:10px;  " />
             </div>
        </ion-item>
      </ion-list>

	  
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
