<ion-view view-title="{{navTitle}}" hide-nav-bar="false" cache-view="false">
  <ion-content class="content">
  
<section class="MainPage">
	 <div id="newUserMain" >
<!-- 
<div id="HeaderDv">
	<div id="backBtn" ng-click='backBtn()'>
    	<img src="img/new_user/bt1.png" style="width:100%" />
    </div>
    <div id="homeBtn" ng-click='HomeButton()'>
    	<img src="img/new_user/bt2.png" style="width:100%" />
    </div>
</div>
-->
      		<div style="width:100%;  padding-top:20%;" align="center">
            
                <div style="margin-bottom:10%;">
                    <div class="Input" id="phoneText">
                        <input class="InputText" ng-model="fields.name" style="border:none; text-align:center; outline:0;"  id="nameInput" type="text" placeholder="{{nameplaceholder}}" />
                    </div>
                    
                    <div class="Input" id="phoneText">
                        <input class="InputText"  ng-model="fields.phone" style="border:none; text-align:center; outline:0;"  id="phoneInput" type="tel" placeholder="{{phoneplaceholder}}" />
                    </div>
                    
                    <div class="Input" id="phoneText">
                        <input class="InputText" ng-model="fields.mail" style="border:none; text-align:center; outline:0;"  id="mailInput" type="email" placeholder="{{emailplaceholder}}" />
                    </div>
                </div>
                
                
                <div style="width:50%;" ng-click='addnewcontact()'>
            		<img src="{{okbuttonimage}}" style="width:100%" />
                </div>
           
                

            </div>
            
      </div>
</section>

  </ion-content>
</ion-view>