/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body
{
	padding:0px ;
	margin:0px;
	width:100%;
	height:100%;
	background-color:black !important;
	background-repeat:no-repeat !important;
	font-family: "Alef Hebrew","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-image:url('../img/main/bck.jpg') !important;
	background-size:100% 100% !important;
}

.content 
{
	background-color:black !important;
	background-repeat:no-repeat !important;
	background-image:url('../img/main/bck.jpg') !important;
	background-size:100% 100% !important;	
	margin:0px;
	padding:0px;
}

p {
	margin:0;
}

a {
  color:inherit;
  text-decoration: none;
 }
 
 #AboutDv
{
	position:fixed;
	width:17%;
	height:57px;
	min-height:50px;
	/*background-color:#d5ab45;*/
	overflow:hidden;
	right:0;
}


#infoBtn {
	width:50%;
	padding-left:22px;
	padding-top:8px;
	
}


#HeaderDv
{
	position:fixed;
	width:100%;
	height:8%;
	min-height:50px;
	background-color:#d5ab45;
	overflow:hidden
}

#backBtn
{
	float:right;
	width:8%;
	padding:10px;
	margin-top:-6px;
	height:100%;
}


#homeBtn
{
	float:left;
	width:10%;
	padding:10px;
	margin-top:-2px;
	height:100%;
}


.Input
{
	width:70%;
	padding-bottom:2%;
	margin-top:1%;
	background-repeat:no-repeat;
	background-image:url('../img/new_user/phone.png');
	background-size:100%;
}

.InputNewCode
{
	width:70%;
	height:55px;
	background-repeat:no-repeat;
	background-image:url('../img/new_user/phone.png');
	background-size:100%;
}

.InputNewText
{
	width:100%;
	font-size:6vw;
	top:20px;
	position:relative;
	color:white;
	background-color:transparent;
	text-align:right;
	border:hidden;
}

.InputText
{
	width:100%;
	font-size:6vw;
	padding:3%;
	padding-top:0%;
	color:white;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-top:2%;
	margin-left:-8%;
	
}


/*  New User Page*/

#newUserMain
{
	margin-top:0%;
	height:100%;
	width:100%;
	color:black;
	/*
	background-image:url('../img/main/bck.jpg');
	background-size:100% 100%;
	*/
	position:relative;
}

#codeText
{
	width:70%;
	padding-bottom:3%;
	color:black;
	background-repeat:no-repeat;
	background-image:url('../img/new_user/code.png');
	background-size:100%;
}

#codeInput
{
	width:100%;
	font-size:6vw;
	padding:3%;
	color:black;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-top:2%;
	margin-left:-8%;
}

#codeNameInput
{
	width:100%;
	font-size:6vw;
	padding:3%;
	color:black;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-top:2%;
	margin-left:-8%;
	border:0;
}

#phoneText
{
	width:70%;
	padding-bottom:13px;
	color:black;
	margin-bottom:20px; 
	background-repeat:no-repeat;
	background-image:url('../img/new_user/phone.png');
	background-size:100% 100%;
}

#phoneInput
{
	width:100%;
	font-size:6vw;
	padding:5px;
	color:black;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-top:2%;
	margin-left:-8%;
}


#nameText
{
	width:70%;
	padding-bottom:10px;
	margin-bottom:20px; 
	background-repeat:no-repeat;
	background-image:url('../img/new_user/phone.png');
	background-size:100% 100%;
}

#nameInput
{
	width:100%;
	font-size:6vw;
	padding-bottom:0px;
	color:black;
	height:45px;
	background-color:transparent;
	text-align:center;
	border:hidden;
	margin-top:2%;
	margin-left:0%;
}


#mailText
{
	width:70%;
	padding-bottom:10px;
	margin-bottom:20px; 
	background-repeat:no-repeat;
	background-image:url('../img/new_user/phone.png');
	background-size:100% 100%;
}


#mailInput
{
	width:100%;
	font-size:6vw;
	padding:5px;
	padding-bottom:0px;
	color:black;
	height:45px;
	background-color:transparent;
	text-align:center;
	border:hidden;
	margin-top:2%;
	margin-left:0%;
}

#foundcodetext {
	margin:0px;
	padding:0px;
	padding-bottom:10px;
	direction:rtl;
}

#whitetext {
	margin:0px;
	padding:0px;
	color:#000000;
}



/*  Add User Page*/


#addInput
{
	width:70%;
	padding-bottom:10%;
	background-repeat:no-repeat;
	background-image:url('../img/add_user/addInput.png');
	background-size:100%;
}

#addInputdiv
{
	width:70%;
}

#addInputLogout
{
	width:70%;
	padding-bottom:5%;
	background-repeat:no-repeat;
	background-image:url('../img/new_user/btns/logout.png');
	height:36px;
	background-size:100%;
}

#addInputText
{
	width:100%;
	font-size:6vw;
	padding-bottom:1%;
	color:white;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-top:2%;
	margin-left:-8%;
}

#addcontact { 
background-color:#66FF66;
}

.UserInfo_bck
{
	width:100%;
	position:relative;
	background-color:#f1f1f1;
	overflow:hidden;
}

.UserInfo_bck1
{
	width:100%;
	position:relative;
	overflow:hidden;
	background-color:#fff;
}

#avatarUser
{
	width:20%;
	padding:12px;
	padding-bottom:4px;
	float:right;
}

#UserClickIcon
{
	float:left;
	width:10%;
	margin-top:25px;
	font-size:21px;
}

#UserInfoText
{
	z-index:1;
	position:relative;
	width:70%;
	float:right;
	font-size:6vw;
	color:#000;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-left:-30%;
	margin-top:20px;
	padding:10px;
	padding-bottom:0px;
}

#UserInfoCodeText
{
	z-index:1;
	position:relative;
	width:100%;
	float:right;
	font-size:6vw;
	color:#fff;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-left:0%;
	margin-top:20px;
	padding:0px;
	padding-bottom:0px;
}

#UserCodeText
{
	z-index:1;
	position:relative;
	width:100%;
	font-size:6vw;
	color:#fff;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-left:-30%;
	margin-top:3px;
}





.animClass1.ng-enter,  
.animClass1.ng-leave,  
.animClass1.ng-enter,  
.animClass1.ng-leave 
{
    top: 0; right: 0; bottom: 0; left: 0;  
    background: inherit;  
    -ms-transition: 0.50s ease-in-out;  
    -webkit-transition: 0.50s ease-in-out;  
    transition:  0.50s ease-in-out;  
}  
/*
.animClass1.ng-enter {  
    z-index: 101;  
    -webkit-transform: translateX(100%);  
    transform: translateX(100%);  
}  
.animClass1.ng-enter.ng-enter-active {  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.animClass1.ng-leave {  
    z-index: 100;  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.animClass1.ng-leave.ng-leave-active {  
    -webkit-transform: translateX(-100%);  
    transform: translateX(-100%);  
}  */


.animClass1.ng-enter {  
    z-index: 100;  
    -webkit-transform: translateX(-100%);  
    transform: translateX(-100%);  
}  
.animClass1.ng-enter.ng-enter-active {  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.animClass1.ng-leave {  
    z-index: 101;  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.animClass1.ng-leave.ng-leave-active {  
    -webkit-transform: translateX(100%);  
    transform: translateX(100%);  
}  



/* -------------------------------------------------------------------------------  */

#CodeSelectDv
{
	background-color:#d4ab44;
	overflow:hidden;
	width:100%;
}


#UserInfoCode
{
	float:right;
	text-align:right;
	margin-right:-20px;
	margin-top:3px;
	direction:rtl;
	padding-right:10px;
}

#UserInfoQR
{
	float:right;
	right:7px;
	width:30%;
	padding-bottom:7px;
	position:relative;
	padding-top:10px;
}

#userLine
{
	float:right;
	width:2px;
	height:0px;
	position:relative;
	left:30px;
	top:-10px;
}


#codeBtns {
	float:left;
	width:30%;
	height:10px;
}

#editCode { 
	margin-top:26px;
	height:17px;
	padding-left:5px;
	margin-bottom:10%;
	width:37px;
	float:left
}

#lineCode
{
	float:left;
	width:3px;
	margin-top:15px;
	margin-left:10px;
	margin-right:5px;
}

#DeleteCode 
{ 
	height:17px;
	width:37px;
	float:left;
	margin-top:23px;
	padding-left:6px;
}

#UserInfoImg
{
	width:50%;
}

#qrcodediv
{
	
}

#qrcode {
	
	text-align:center;
	border:4px solid #f4f4f4;
}
#printqr {
	direction:rtl;
	text-align:center;
}

#codetype {
	margin-top:10px;
	width:70%;
	direction:rtl;
	height:30px;
	/*
	background-image: url("../img/add_user/addInput.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-bottom: 5%;
	*/
}
#showcode {
	font-size:17px;
	font-weight:bold;
}

.bar .title 
{
	color : #000 !important;
}

.loading {
	direction:rtl;
}

.popup-title {
	text-align:center;
}