<ion-view view-title="{{navTitle}}" hide-nav-bar="false">
  <ion-content class="content">
  
<section class="MainPage">
	 <div id="newUserMain" >
	 <!--
	<div id="HeaderDv">
	<div id="backBtn" ng-click='backBtn()'>
    	<img src="img/new_user/bt1.png" style="width:100%" />
    </div>
    <div id="homeBtn" ng-click='HomeButton()'>
    	<img src="img/new_user/bt2.png" style="width:100%" />
    </div>
</div>
-->

      		<div style="width:100%;  padding-top:20%;" align="center">
            	<div style="width:100%;">
				<div id="foundcodetext">
				<p id="blacktext">{{welcomeText}}...</p>
				</div>
                </div>
                <div style="margin-bottom:10%;">
                  
                </div>
                
                 
            </div>
            
      </div>
</section>


  </ion-content>
</ion-view>