<ion-view title="{{navTitle}}" hide-nav-bar="false" cache-view="false">
  <ion-content class="content">

 <div class="AboutDv" ng-if="InfoHidden == '0'"  ng-click="ShowInfo()" style="top:45px; right:5px;">
			<div id="infoBtn" >
				<img src="img/main/infoicon.png" style="width:40px" />	
			</div>
  </div> 

  
<section class="MainPage">
	 <div id="newUserMain" >

<!--	 
<div id="HeaderDv">
	<div id="backBtn" ng-click='backBtn()'>
    	<img src="img/new_user/bt1.png" style="width:100%" />
    </div>
    <div id="homeBtn" ng-click='HomeButton()'>
    	<img src="img/new_user/bt2.png" style="width:100%" />
    </div>
</div>
-->




      		<div style="width:100%;  padding-top:5%;" align="center">
	
			<div id="QRprintDv"  align="center" ng-show="false">
			<div align="center" >
			<img ng-src="{{qrUrl}}"  />
			<div id="qrcode" >{{prdname}}</div>
			</div>
			</div>
	
				<div ng-model="qrUrl" id="qrcodediv" style="padding-bottom:10px;" align="center" >
					<img ng-src="{{qrUrl}}" style="width:35%; border:4px solid #f4f4f4;" />
					<div id="showcode">
					{{prdname}}
					</div>
				</div>
	
            	<!--<div style="width:50%;">
            		<img src="img/add_user/addText.png" style="width:100%" />
                </div>-->
 
                <div id="addInputdiv" style="width:55%;" ng-click="mailBtn(0)">
					<img ng-src="{{PrintQRImage}}" style="width:100%" />
                </div>
				
                <div id="addInputdiv" style="width:55%;" ng-click='mailBtn(1)'>
					<img ng-src="{{PrintMailQRImage}}" style="width:100%" />
                </div>	

				
                <div id="addInputdiv" style="margin-top:-8; width:55%;" ng-click='editprofile()'>
                	<div id="profilename" style="color:white; padding-top:3px; font-size:21px; position:absolute; width:55%; text-align:center; margin-top:7px;">{{profilename}}</div>
					<img ng-src="img/new_user/btns/empty.png" style="width:100%;" />
                </div>
				
				
                <div id="addInputdiv" style="margin-top:-8; width:55%;" ng-click='newcontactpage()'>
            		<img ng-src="{{AddContactImage}}" style="width:100%" />
                </div>
                
                
                <div style="margin-top:5%; margin-bottom:10%">
					<div  ng-repeat="row in contacts" >
						<a href="#/app/EditUser/{{id}}/{{codeid}}/{{row.id}}"> 
                        	<div  ng-class="$index%2 ==0 ? 'UserInfo_bck' : 'UserInfo_bck1'">
                            	<div id="avatarUser">
                                	<img src="img/new_user/avatar.png" style="width:100%" />
                                </div>
								<div id="UserInfoText">{{row.name}}</div>
                                <div id="UserClickIcon">
                                    <i class="ion-chevron-left"></i>
                                </div>
							</div>
                        </a>
					</div>
                </div>
         
		 

            </div>
            
      </div>
</section>

  </ion-content>
</ion-view>