<ion-view title="{{navTitle}}" hide-nav-bar="false" cache-view="false">
	<div class="bar bar-footer" style="width:100%; height:11%; overflow:hidden; padding:0; ">
    	<table style="width:100%; overflow:hidden">
        	<td style="width:100%; overflow:hidden">
            	<tr>
                	<img src="{{LogOutBtn}}" ng-click="logoutBtn()"  style="width:40%;"/>
                </tr>
                <tr>
                	<img src="{{NewCodeBtn}}" ng-click="newcodepage()"  style="width:60%;"/>
                </tr>
            </td>
        </table>
	</div>
    
   
  <ion-content class="content"  >



  
<section class="MainPage" style="padding:0; margin:0px;" >

	 <div id="newUserMain" >
	 <!--
	 	  <div id="HeaderDv">
	<div id="backBtn" ng-click='backBtn()'>
    	<img src="img/new_user/bt1.png" style="width:100%" />
    </div>
    <div id="homeBtn" ng-click='HomeButton()'>
    	<img src="img/new_user/bt2.png" style="width:100%" />
    </div>
</div>
-->

<div id="AboutDv" ng-if="InfoHidden == '0'" ng-click="ShowInfo()" style="left:0; top:45px; right:5px;">
			<div id="infoBtn" >
				<img src="img/main/infoicon.png" style="width:40px" />
			</div>
</div> 


      		<div style="width:100%;  padding:3%; text-align:right; font-size:18px; font-family:Verdana, Geneva, sans-serif" align="center">
			<p dir="rtl" ng-if="welcomeText"><b>{{welcomeText}}: {{userfullname}}</b></p>			
			<p dir="rtl" style="margin-top:7px;" ng-if="usercredits"><b>{{currentCreditText}}: {{usercredits}}</b></p>

			<div style="margin-top:15px;"></div>
			
			<!--<div style="margin-bottom:2%;" ng-click='newcodepage()'>
			<img src="{{AddNewCodeImage}}" style="width:70%;  height:56px;">
			</div>

			<div style="margin-bottom:2%;" ng-click='logoutBtn()'>
			<img src="{{LogOutImage}}" style="width:70%;  height:56px;">
			</div>-->
			
				
				<div style="margin-top:1%; margin-bottom:10%; width:106%; margin-left:-3%;">
					<div  ng-repeat="row in usercodes" style="">
						<div id="CodeSelectDv">
							
                            <div id="UserInfoQR" align="right" >
                            	<div id="UserInfoImg">
									<a href="#/app/CodeLogin/{{id}}/{{row.codeid}}">
                                		<img src="{{row.qrimage}}" style="width:100%" />
									</a>
                                </div>
                           </div>
                          
                           <a href="#/app/CodeLogin/{{id}}/{{row.codeid}}"> 
						  		<div id="UserInfoCode">
                                	<div id="UserInfoCodeText" style="font-weight:bold;">{{row.prdname}}</div>
									<!--
                             		<div id="UserCodeText"  style="font-size:14px;">{{CodeNumberText}} : {{row.code}}</div>
									-->
								</div>
                           </a>
                           <div id="codeBtns">
                           				<div id="DeleteCode" ng-click='deleteCode(row.index,row.code)'>
                                            <img src="{{DeleteCodeImage}}" style="width:100%" />
                                        </div>
                                        <div id="lineCode" ng-click='editCode(row.codeid)'>
                                            <img src="img/line.png" style="width:100%" />
                                        </div>
                                         <div id="editCode" ng-click='editCode(row.codeid)'>
                                            <img src="{{EditCodeImage}}" style="width:100%" />
                                        </div>
                                        
                           </div>
					</div>
                    <div style="margin-top:-4%; margin-bottom:-2%">
                        <img src="img/line.jpg" style="width:100%" />
                    </div>
				</div>                
			</div>
		</div>
                

            </div>
            
      </div>
</section>

  </ion-content>
</ion-view>
