<ion-view title="{{navTitle}}" hide-nav-bar="false">
  <ion-content class="content" >
<div id="AboutDv" ng-if="InfoHidden == '0'" ng-click="ShowInfo()" style="top:45px; right:5px;">
			<div id="infoBtn" >
				<img src="img/main/infoicon.png" style="width:40px" />
			</div>
</div> 
<section class="MainPage">  


        

<!--
  <div id="HeaderDv" style=" position:fixed; top:0px;">
		<div id="backBtn" ng-click='backBtn()'>
			<img src="img/new_user/bt1.png" style="width:100%" />
		</div>
		<div id="homeBtn" ng-click='HomeButton()'>
			<img src="img/new_user/bt2.png" style="width:100%" />
		</div>
  </div>  
-->
      <div id="newUserMain" >



             
      		<div style="width:100%;  margin-top:25%; " align="center">
			
			<!--
            	<div style="width:30%;">
            		<img src="{{ButtonImage}}" style="width:100%" />
                </div>
			-->
				
                <div style="margin-bottom:10%;">
                    <div id="nameText">
                        <input class="InputText" ng-model="fields.code" style="border:none; text-align:center; outline:0;"  id="nameInput" type="text" placeholder="{{inputcodePlaceholder}}" />
                    </div>
                    
                   
                </div>


					

				<!--
                <div id="codeText">
            		<input id="codeInput" type="text" placeholder="הכנס קוד" />
                </div>
				-->
				<!-- ng-click='navigatePage("#/AddUser/","")' -->
               <div style="width:50%;" ng-click='checkcode()'>
            		<img src="{{okbuttonimage}}" style="width:100%" />
                </div>

               

            </div>
            
      </div>
</section>


  </ion-content>
</ion-view>