<ion-view title="{{navTitle}}" hide-nav-bar="false">
  <ion-content class="content" >
<div id="AboutDv" ng-if="InfoHidden == '0'" ng-click="ShowInfo()" style="top:45px; right:5px;">
			<div id="infoBtn" >
				<img src="img/main/infoicon.png" style="width:40px" />
			</div>
</div> 
<section class="MainPage">  


        

<!--
  <div id="HeaderDv" style=" position:fixed; top:0px;">
		<div id="backBtn" ng-click='backBtn()'>
			<img src="img/new_user/bt1.png" style="width:100%" />
		</div>
		<div id="homeBtn" ng-click='HomeButton()'>
			<img src="img/new_user/bt2.png" style="width:100%" />
		</div>
  </div>  
-->
      <div id="newUserMain" >



             
      		<div style="width:100%;  margin-top:25%; " align="center">
			
			<!--
            	<div style="width:30%;">
            		<img src="{{ButtonImage}}" style="width:100%" />
                </div>
			-->
				
                    <div class="Input" id="phoneText">
                        <input class="InputText" ng-model="fields.mail" style="border:none; text-align:center; outline:0;"  id="mailInput" type="email" placeholder="{{MailPlaceholder}}" />
                    </div>
                    
                    <div class="Input" id="phoneText">
                        <input class="InputText"  ng-model="fields.phone" style="border:none; text-align:center; outline:0;"  id="phoneInput" type="tel" placeholder="{{PhonePlaceholder}}" />
                    </div>


					

				<!--
                <div id="codeText">
            		<input id="codeInput" type="text" placeholder="הכנס קוד" />
                </div>
				-->
				<!-- ng-click='navigatePage("#/AddUser/","")' -->
                <div style="width:50%; margin-top:40px; " ng-click='checklogin()' >
            		<img src="{{OkButton}}" style="width:100%" />
                </div>

               

            </div>
            
      </div>
</section>


  </ion-content>
</ion-view>