<ion-view title="{{navTitle}}" hide-nav-bar="false">


	 <ion-nav-buttons side="right" style="margin-top:3px; " >
	 <div>
       <img src="img/main/en.png" style="width:39px; margin-top:3px;" ng-click="ChangeLanguage(1)">
	 </div>
	 <div style="padding-left:8px;">
            <img src="img/main/heb.png" style="width:40px; margin-top:2.5px;" ng-click="ChangeLanguage(2)">
	 </div>	 
  </ion-nav-buttons> 
  

  <ion-content class="content">
   


<section class="MainPage">
		<!--
		<div>
		<img src="img/main/us_flag.gif" ng-click="ChangeLanguage(1)">
		<img src="img/main/israel_flag.gif" ng-click="ChangeLanguage(2)">
		</div>
		-->
		<div id="AboutDv" ng-if="InfoHidden == '0'" ng-click="ShowInfo()" style="top:45px; right:5px;">
			<div id="infoBtn" >
				<img src="img/main/infoicon.png" style="width:40px" />
			</div>
		</div> 

	<!--
		ng-click='navigatePage("#/app/FoundCode","")'
	-->	
       <div class="Content"  > 
       	   <div>
           		<img  ng-src="{{LogoImage}}" style="width:100%"   />
           </div>
           <div ng-click='navigatePage("#/app/NewUser","")' style="margin-top:-6px;">
           		<img  ng-src="{{NewUserImage}}" style="width:100%" />
           </div>
           <div ng-click='navigateLocal()' style="margin-top:-5px;" >
           		<img ng-src="{{ExisingUserImage}}" style="width:100%" />
           </div>
           <div ng-click="ScanQR()" style="margin-top:-5px;">
           		<img ng-src="{{FoundProductImage}}" style="width:100%; margin-top:-3px;" />
           </div>
           <div ng-click='Foundphone()' style="margin-top:-5px;">
           		<img ng-src="{{FoundPhoneImage}}" style="width:100%" />
           </div>
       </div>
	 
</section>
  </ion-content>
</ion-view>