<ion-view title="{{navTitle}}" hide-nav-bar="false">
  <ion-content class="content" >

  
 <div class="AboutDv" ng-if="InfoHidden == '0'"  ng-click="ShowInfo()" style="top:45px; right:5px;">
			<div id="infoBtn" >
				<img src="img/main/infoicon.png" style="width:40px" />	
			</div>
  </div> 

  
<section class="MainPage">
	 <div id="newUserMain" >
<!--
<div id="HeaderDv">
	<div id="backBtn" ng-click='backBtn()'>
    	<img src="img/new_user/bt1.png" style="width:100%" />
    </div>
    <div id="homeBtn" ng-click='HomeButton()'>
    	<img src="img/new_user/bt2.png" style="width:100%" />
    </div>
</div>
-->



      		<div style="width:100%;  padding-top:20%;" align="center">
            
                <div style="margin-bottom:10%;">
				
				  <div class="Input" id="phoneText">
                        <input class="InputText" ng-model="fields.prdname" id="nameInput" style="border:none; text-align:center; outline:0;" type="text" placeholder="{{ProuductPlaceHolder}}" />
                    </div>
				<!--
                    <div class="Input" id="phoneText">
                        <input class="InputText" ng-model="fields.code" id="nameInput" style="border:none; text-align:center; outline:0;" type="tel" placeholder="{{CodePlaceHolder}}" />
                    </div>
				-->
       
			
	   
                </div>
                
                
                <div style="width:50%;" ng-click='addnewcode()'>
            		<img src="{{OkButtonImage}}" style="width:100%" />
                </div>
           
                
            </div>
            
      </div>
</section>

  </ion-content>
</ion-view>
