<section class="MainPage">
	 <div id="newUserMain" >
      		<div style="width:100%;  padding-top:20%;" align="center">
            	<div style="width:30%;">
            		<img src="img/new_user/enter_code.png" style="width:100%" />
                </div>
                <div style="margin-bottom:10%;">
                    <div class="Input" id="phoneText">
                        <input class="InputText" style="border:none; text-align:center; outline:0;"  type="text" id="mailInput" placeholder="שם מלא" />
                    </div>
                     
                    <div class="Input" id="phoneText">
                        <input class="InputText"  style="border:none; text-align:center; outline:0;"  type="text" id="mailInput" placeholder="מייל" />
                    </div>
                    
                    <div class="Input" id="phoneText">
                        <input class="InputText"  style="border:none; text-align:center; outline:0;"  type="text" id="mailInput" placeholder="טלפון" />
                    </div>
                    
                    <div class="Input" id="phoneText">
                        <input class="InputText"  style="border:none; text-align:center; outline:0;"  type="text" id="mailInput" placeholder="סיסמה" />
                    </div>
                    
                    <div class="Input" id="phoneText">
                        <input class="InputText" style="border:none; text-align:center; outline:0;"  type="text" id="mailInput" placeholder="אמת סיסמה" />
                    </div>
                </div>
                
                
                <div style="width:50%;" ng-click='sendForm()'>
            		<img src="img/new_user/btns/ok.png" style="width:100%" />
                </div>
                <div style="width:50%; margin-top:3%;" ng-click='navigatePage("#/Register/","")'>
            		<img src="img/new_user/bcode.png" style="width:100%" />
                </div>
                
                <!--
                <div id="footerApp" style="position:fixed; bottom:-10px;">
                	<table  style="padding:0; margin:0; margin-left:-1%; width:100%;">
                    	<tr style="width:100%;">
                        	<td style="padding:0; margin:0" ng-click='navigatePage("#/Main/","")'>
                            	<img src="img/new_user/b1.png" style="width:102%" />
                            </td>
                            <td style="padding:0; padding-left:-4%">
                            	<img src="img/new_user/b2.png" style="width:102%" />
                            </td >
                            <td style="padding:0; margin:-1%" ng-click='navigatePage("#/Main/","")'>
                            	<img src="img/new_user/b3.png" style="width:102%" />
                            </td>
                            <td style="padding:0; padding-left:-4%">
                            	<img src="img/new_user/b2.png" style="width:102%" />
                            </td >
                        </tr>
                    </table>
                </div>
				!-->
            </div>
            
      </div>
</section>